<!--site info-->
<div class="container-fluid mb-5 text-center text-muted">
    <hr>
    <p>© 2025 Seyeon's Portfolio. All rights reserved.</p>
    <p>Contact: ahnse0424@gmail.com</p>
</div>

<!-- Optional JavaScript; choose one of the two! -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>


</body>
</html>